html {
    scroll-behavior: smooth;
    font-family: 'Roboto Mono', monospace;
    color: #4AF626;
    background: rgb(25,25,25);
    margin-left: 10vw;
    margin-right: 10vw;
    align-content: center;
    font-size: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

main {
    margin-left: 10vw;
    margin-right: 10vw;
}

.summary {
	width: 25vw;
	font-size: 0.5rem;
    border: double #4AF626;
    border-radius: 10px;
}

header h1 {
    font-size: 4vw;
}

nav ul {
    list-style-type: none;
    position: fixed;
    left: 15%;
    top: 5%;
}

nav li {
    display: inline-block;
    font-size: 1rem;
}

ul {
    text-align: center;
    list-style-position: inside;
}

nav a {
    font-size: 1.8vw;
}

a {
    color: #4AF626;
}

@media only screen and (max-device-width: 600px) {
    html {
        font-size: 1.7rem;
        margin-top: 10vh;
        margin-left: 1vw;
        margin-right: 1vw;
    }

    main {
        margin-left: 1vw;
        margin-right: 1vw;
    }

    header h1 {
        font-size: 1.7rem;
    }

    .summary {
        width: 95vw;
        font-size: .75rem;
    }
    nav ul {
        left: 5%;
    }

    nav a {
        font-size: .8rem;
    }
}
